<div class="back-image">
  <div class="ui-g margin content-center" id="registration-form">
    <div class="ui-g-4">
      <h3 class="text-red text-line">Find your car now!</h3>
      <p class="font-raleway-regular text-line">
        Type your data and hit Yalla!
      </p>
      <p>
        <span
          ><input type="text" size="30" pInputText placeholder="Name"
        /></span>
      </p>
      <p>
        <span
          ><input type="text" size="30" pInputText placeholder="Last Name"
        /></span>
      </p>
      <p>
        <span
          ><input type="text" size="30" pInputText placeholder="Password"
        /></span>
      </p>
      <p>I agree to the terms of use and privacy policy</p>
      <button label="Y'alla!" class="button-red text-white">Y'alla!</button>
      <div
        class="trapezoid-registration buttom-relative"
        id="buttom-figure"
      ></div>
    </div>
  </div>
</div>
