<div class="dark-blue navbar">
  <div class="content-center">
    <p-toolbar class="dark-blue content-center">
      <div class="ui-toolbar-group-left">
        <img
          src="../../assets/images/logo.png"
          class="logo"
          alt="ilCarro Logo"
        />
      </div>

      <div class="ui-toolbar-group-right text-white">
        Search Lets the car work Terms of use Sign up Log in
      </div>
    </p-toolbar>
  </div>
</div>
