<div class="dark-blue">
  <div class="ui-g content-center">
    <div class="ui-g-5 font-raleway-regular text-white">
      Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee
      cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon
      fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding
      ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw
      tart.
    </div>
    <div class="ui-g-2">
      <img src="../../assets/images/logo.png" class="logo-footer" />
    </div>
    <div class="ui-g-5">
      <span class="fa-icon">
        <i class="fab fa-facebook-square"></i>
      </span>
    </div>
  </div>
</div>
