<div class="ui-g content-center">
  <div class="ui-g-6">
    <div class="font-bebas-neue text-conten">
      <p>
        <b class="bigletter">3</b>MOST POPULAR CHOICES<br />
        IN YOUr area
      </p>
    </div>
  </div>
  <div class="ui-g-6 text-content font-raleway-regular">
    Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee
    cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon
    fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice
    cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
  </div>
</div>
<div class="dark-blue">
  <div class="paralelogram">
    <div class="content">
      <div class="item first">
        <div class="item-content">
          <img
            src="../../assets/images/gallery-three-most-popular/1.png"
          />
        </div>
      </div>
      <div class="item second">
        <div class="item-content">


          <img src="../../assets/images/gallery-three-most-popular/2.png" /></div>
      <div class="item third">
        <div class="item-content">

          <img src="../../assets/images/gallery-three-most-popular/3.png" /></div>
      </div>
    </div>
  </div>
</div>
