<p-tabView>
  <p-tabPanel header="Filters" leftIcon="pi pi-sliders-h">
    Content 1
  </p-tabPanel>
  <p-tabPanel header="Map" leftIcon="pi pi-map-marker">
    Content 2
  </p-tabPanel>
  <p-tabPanel header="Search" leftIcon="pi pi-search">
    <h3 class="text-red">Find your car now!</h3>
    content 3
    <p-slider
      [(ngModel)]="priceRange"
      [range]="true"
      formControlName="age"
    ></p-slider>
  </p-tabPanel>
</p-tabView>
