<app-header></app-header>
<app-registration></app-registration>
<app-join-now></app-join-now>
<app-three-most-popular></app-three-most-popular>
<app-feedbacks></app-feedbacks>
<app-footer></app-footer>
<app-find-your-car-now></app-find-your-car-now>
<app-log-in></app-log-in>
<app-tab-search></app-tab-search>
