<p>feedbacks works!</p>
<div class="ui-g content-center">
  <div class="font-bebas-neue text-conten ui-g-12">
    <p>
      Latest FEEDBACKS <br />
      fROM our customers
    </p>
  </div>
  <div class="ui-g-6">
    <div class="ui-g">
      <div class="ui-g-3">
        <img
          src="https://proslang.ru/wp-content/uploads/2019/03/avatarka_1-300x300.jpg"
          alt="Avatar"
          class="round-img"
          style="width:70px"
        />
      </div>
      <div class="ui-g-9 font-raleway-regular">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis,
          nec varius tortor quam at diam.
        </p>
        <p><span class="text-red">Carter Jey</span> 26 april 2019</p>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-3">
        <img
          src="https://proslang.ru/wp-content/uploads/2019/03/avatarka_1-300x300.jpg"
          alt="Avatar"
          class="round-img"
          style="width:70px"
        />
      </div>
      <div class="ui-g-9 font-raleway-regular">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis,
          nec varius tortor quam at diam.
        </p>
        <p><span class="text-red">Carter Jey</span> 26 april 2019</p>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-3">
        <img
          src="https://proslang.ru/wp-content/uploads/2019/03/avatarka_1-300x300.jpg"
          alt="Avatar"
          class="round-img"
          style="width:70px"
        />
      </div>
      <div class="ui-g-9 font-raleway-regular">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis,
          nec varius tortor quam at diam.
        </p>
        <p><span class="text-red">Carter Jey</span> 26 april 2019</p>
      </div>
    </div>
  </div>

  <div class="ui-g-6">
    <div class="ui-g">
      <div class="ui-g-3">
        <img
          src="https://proslang.ru/wp-content/uploads/2019/03/avatarka_1-300x300.jpg"
          alt="Avatar"
          class="round-img"
          style="width:70px"
        />
      </div>
      <div class="ui-g-9 font-raleway-regular">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis,
          nec varius tortor quam at diam.
        </p>
        <p><span class="text-red">Carter Jey</span> 26 april 2019</p>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-3">
        <img
          src="https://proslang.ru/wp-content/uploads/2019/03/avatarka_1-300x300.jpg"
          alt="Avatar"
          class="round-img"
          style="width:70px"
        />
      </div>
      <div class="ui-g-9 font-raleway-regular">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis,
          nec varius tortor quam at diam.
        </p>
        <p><span class="text-red">Carter Jey</span> 26 april 2019</p>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-3">
        <img
          src="https://proslang.ru/wp-content/uploads/2019/03/avatarka_1-300x300.jpg"
          alt="Avatar"
          class="round-img"
          style="width:70px"
        />
      </div>
      <div class="ui-g-9 font-raleway-regular">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis,
          nec varius tortor quam at diam.
        </p>
        <p><span class="text-red">Carter Jey</span> 26 april 2019</p>
      </div>
    </div>
  </div>
</div>
