<div class="dark-blue ui-g">
  <div class="trapezoid-join-now"></div>
  <div class="content-center">
    <div class="ui-g-3 text-white font-bebas-neue text-content">
      NEVER MISTAKEN FOR ANYTHING ELSE
    </div>
    <div class="ui-g-6 text-white text-content font-raleway-regular">
      Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee
      cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon
      fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding
      ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw
      tart.
    </div>
    <div class="ui-g-3 text-red font-raleway-regular-red text-content">
      Affordable prices<br />
      Guaranted cars<br />
      <button class="button-red">Join now!</button>
    </div>
  </div>
</div>
