<div class="ui-g margin" id="registration-form">
  <div class="ui-g-8 margin">
    <img
      src="../../assets/images/main.png"
      class="main-image"
      alt="rent a car"
    />
  </div>
  <div class="ui-g-4">
    <h3 class="text-red">Log In</h3>
    <p>Type your data and hit Yalla!</p>

    <p>
      <span><input type="text" size="30" pInputText placeholder="Email"/></span>
    </p>
    <p>
      <span
        ><input type="text" size="30" pInputText placeholder="Password"
      /></span>
    </p>
    <p>Forgot your password? Click here.</p>
    <button label="Y'alla!" class="button-red text-white">Y'alla!</button>
    <div
      class="trapezoid-registration buttom-relative"
      id="buttom-figure"
    ></div>
  </div>
</div>
