@font-face {
  font-family: "Bebas Neue";
  src: url("assets/font/Bebas-Neue-Bold/BebasNeue Bold.otf") format("otf");
  font-weight: bold;
}
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
body .ui-inputtext {
}
body .ui-toolbar {
  background-color: #001f3f;
  border: 0px solid #c8c8c8;
}
.logo {
  width: 70%;
  margin-top: 2%;
}
.logo-footer {
  width: 60%;
}
.find-your-car {
  max-height: 800px;
}
.back-image {
  background-image: url("assets/images/main.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.content-center {
  max-width: 90%;
  margin: auto;
}
.navbar {
  &,
  h3 {
    margin: 0;
  }
}
.fa-icon {
  color: white;
  font-size: 1rem;
}
.text-content {
  margin-top: 2%;
  margin-bottom: 2%;
}
.font-bebas-neue {
  $font_size: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: $font_size;
  //padding-top: $font_size / 2 !important;
  //height: $font_size * 2 * 1.5;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  transform: scaleY(1.5);
  font-weight: 600;
  text-decoration-style: solid;
}
.font-raleway-regular {
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
}
.font-raleway-regular-red {
  font-family: "Raleway", inherit;
  font-size: 0.9rem;
  font-weight: 900;
}
.bigletter {
  float: left;
  color: #ea2340;
  font-size: 2.5rem;
  letter-spacing: 0;
  margin-top: -5px;
  //line-height: 60px;
  //padding-top: 4px;
  //padding-right: 8px;
  //padding-left: 3px;
  font-family: "Bebas Neue", sans-serif;
}
.button-red {
  background-color: #ea2340;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-red:hover {
  background-color: #c4132d;
  color: grey;
}

#registration-form {
  position: relative;
  min-height: 130px;
}

#buttom-figure {
  position: absolute;
  bottom: 10px;
}
.text-line {
  line-height: 0%;
}
.text-white {
  color: white;
}
.text-red {
  color: #ea2340;
}
.dark-blue {
  background-color: #001f3f;
}
.red {
  background-color: #ea2340;
}
.trapezoid-registration {
  border-bottom: 8px solid #ea2340;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 67px;
}
.trapezoid-join-now {
  padding-top: 10px;
  border-bottom: 13px solid #ea2340;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 86%;
}
.buttom-relative {
  bottom: 0;
}
.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
  padding: 10px;
}
.paralelogram {
  height: 260px;
  transform: skew(35deg);
  background-color: #ea2340;
  overflow: hidden;
  position: relative;

  .content {
    $padding: 20px;
    position: absolute;
    top: $padding/2;
    left: $padding * 4;
    right: $padding * 4;
    bottom: $padding;
    background-color: black;

    display: flex;
    flex-direction: row;
    .item {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .item-content {
        transform: skew(-35deg);
        position: absolute;
        top: 0;
        left: -100px;
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
        }
      }

      &.first {
        background-color: blue;
      }
      &.second {
        background-color: green;
      }
      &.third {
        background-color: yellow;
      }
    }
  }
}

.trapezoid {
  height: 0;
  width: 80%;
  border-bottom: 20px solid #ea2340;
  border-right: 20px solid transparent;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active:hover,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active:hover {
  border: 1px solid #ea2340;
  background-color: #ea2340;
  border-right: 20px solid transparent;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
  border: 1px solid #ea2340;
  background-color: #ea2340;
  border-right: 20px solid transparent;
}
